<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>
        <!--appender 1-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>


        <File name="File" fileName="ClaseH2Log4J\\src\\log4.log" append="true">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>


    <Loggers>
       <!---->
        <Logger name="prueba" level="info" additivity="true"> <!-- si additivity es verdadera guarda
        todos los logs a partir de este nivel en el archivo root osea file -->
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>



    <!--
    [%t] es una parte del patrón de diseño utilizado para especificar el formato de registro de eventos.
    En este contexto, [%t] se utiliza para representar la identificación del hilo (thread)
    que generó el registro. Cuando se registra
    un evento, log4j reemplaza [%t] con la información del hilo actual que está realizando el registro.
    -->
</Configuration>